Client_ZI/Connected Services/ServiceReference1/WCF_ZI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ZI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ZI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RC4">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latestData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RC4" nillable="true" type="tns:RC4" />
  <xs:complexType name="TEA">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Key" nillable="true" type="q1:ArrayOfunsignedInt" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="key" nillable="true" type="q2:ArrayOfunsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TEA" nillable="true" type="tns:TEA" />
  <xs:complexType name="CBC_Class">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EncryptedText" nillable="true" type="q3:ArrayOflong" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IV" nillable="true" type="q4:ArrayOflong" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keys" nillable="true" type="q5:ArrayOflong" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="encryptedText" nillable="true" type="q6:ArrayOflong" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="encryptedTexts" nillable="true" type="q7:ArrayOfArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBC_Class" nillable="true" type="tns:CBC_Class" />
  <xs:complexType name="FileSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BmpHeight" type="xs:int" />
      <xs:element minOccurs="0" name="BmpWidth" type="xs:int" />
      <xs:element minOccurs="0" name="Number_of_Threads" type="xs:int" />
      <xs:element minOccurs="0" name="cbc_tea_checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="hashCRC32" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="isWatcherOn" type="xs:boolean" />
      <xs:element minOccurs="0" name="outputDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rc4_checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="tea_checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="watchedDirectory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileSystem" nillable="true" type="tns:FileSystem" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>